.buttons {
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
.enabled {
  background-color: rgb(58, 58, 156);
  color: white;
}
.hover {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.208);
  font-weight: bold;
}
.disabled {
  background-color: hsl(0, 5%, 64%);
  columns: rgb(189, 188, 188);
}
